

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-forgotten-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-avatar {
  margin-left: 80px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-container-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 25%;
  height: 25%;
}

.user-edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-edit-profile-item-avatar {
  width: 20%;
  height: 20%;
}

.user-change-pass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-chat-room-container-items {
  display: flex;
  flex-direction: column;
  align-items: start;
}