.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-forgotten-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
